name: test
on: push
jobs:
  test:
    runs-on: ubuntu-22.04
    container: ryuichiueda/ubuntu22.04-ros2:latest
    steps:
      - uses: actions/checkout@v2
      - name: Fix ROS2 GPG Key
        run: |
          apt-get update || true
          apt-get install -y curl gnupg2
          curl -sSL https://raw.githubusercontent.com/ros/rosdistro/master/ros.key | apt-key add -

      - name: Install python3 in container
        run: |
          apt-get update
          apt-get install -y python3 python3-pip python3-venv
      - name: Verify python3 installation
        run: |
          which python3
          python3 --version
      - name: build and test
        run: |
           rsync -av ./ /root/ros2_ws/src/mypkg/
           cd /root/ros2_ws
           bash -xv ./src/mypkg/test/test.bash /root

